@import 'src/utils/styles/typography';

.root {
  @include initConfigureWidth();
  margin: 0 auto;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toEm(32px);
  width: 100%;
}
