@import 'src/utils/styles/typography';

.root {
  @include initConfigureWidth();

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  span {
    @include Hero();
  }
}
