@import 'src/utils/breakpoints';

:root {
  --color-white: #ffffff;
  --color-neutral-1: #e0e0e0;
  --color-neutral-2: #a0a0a0;
  --color-neutral-3: #606060;
  --color-neutral-4: #151515;
  --color-black: #000000;
}
